version: '3.1'

services:
  php:
    image: php:apache
    ports:
      - 80:80
    volumes:
      - ./src/:/var/www/html/
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
    restart: unless-stopped
    networks:
      - default

networks:
  default:
    external:
      name: asgard