vti_encoding:SR|utf8-nl
vti_author:SR|PATSNET\\mshannon
vti_modifiedby:SR|PATSNET\\mshannon
vti_timecreated:TR|08 Nov 2001 15:01:16 -0000
vti_timelastmodified:TR|08 Nov 2001 15:01:16 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|08 Nov 2001 15:01:16 -0000
vti_filesize:IR|5456
vti_cachedlinkinfo:VX|S|nabnr.gif S|naphb.gif S|naphbp.gif S|nahome.gif S|nanext.gif S|naprev.gif S|naup.gif S|naglb.gif S|napvb.gif S|napvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/nature/nabnr.gif FSUS|_themes/nature/naphb.gif FSUS|_themes/nature/naphbp.gif FSUS|_themes/nature/nahome.gif FSUS|_themes/nature/nanext.gif FSUS|_themes/nature/naprev.gif FSUS|_themes/nature/naup.gif FSUS|_themes/nature/naglb.gif FSUS|_themes/nature/napvb.gif FSUS|_themes/nature/napvbp.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
